*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.screen{
    background-image:   url(/img/bgc.png);
    background-repeat: no-repeat;
    height: 900px;
}

.screen__header{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.header__info{
    width: 1110px;
    display: flex;
    justify-content: space-between;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    color: white;
}

.header__menu{
    display: flex;
}

.menu__item{
    padding: 11px 107px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: white;
    border: 1px solid white;
}
.first{
    border-left: none;
}
.last{
    border-right: none;
}

.screen__btn{
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-top: 583px;
    padding-bottom: 0px;
}
.button{
    padding: 15px 30px;
    background-color: #998431;
    border: none;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.note{
    display: flex;
    justify-content: center;
    height: 856px;
    background: #282828;
}

.note__block{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 1110px;
    height: 656px;
    border: 1px solid #c4c4c4;
}
.block__title{
    margin-top: 60px;
    font-family: 'Playfair Display';
    font-size: 36px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}
.block__line{
    width: 160px;
    border: 1px solid white;
}
.block__text{
    width: 733px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.block__img{
    width: 160px;
    height: 160px;
}

.collection{
    display: flex;
    justify-content: center;
    height: 1038px;
    background: #E6E3C4;
}

.collection__all{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    width: 1110px;
    height: 878px;
    border-top: 1px solid #998431;
    border-bottom: 1px solid #998431;
}


.all__left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.left__text{
    margin-top: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}
.left__title{
    font-family: 'Playfair Display';
    font-size: 36px;
    line-height: 150%;
    color: #282828;
    width: 298px;
    font-weight: 600;
}
.left__line{
    border: 1px solid #282828;
    width: 160px;
}
.left__note{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #282828;
    width: 445px;
}

.table{
    display: flex;
    flex-direction: column;
}
.table__tr{
    display: flex;    
    border-bottom:  1px solid #282828;

}
.table__years{
    padding: 26px 24px;
}
.table__first_text{
    padding: 15px 30px;
    border-left:  1px solid #282828;;
}
.firts_text{
    font-family: 'Playfair Display';
    font-size: 18px;
    line-height: 150%;
    color: #282828;
    font-weight: 600;
}
.last_text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #282828;
}
.brd_none{
    border-bottom: none;
}
.table__first_text{
    display: flex;
    flex-direction: column;
}
.left__button{
    padding: 15px 30px;
    width: 254px;
    background: #998431;
    border: none;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}


.all__right{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.right__img{
    margin-top: 60px;
}
.right__imgs{
    display: flex;
    gap: 30px;
}


.form{
    display: flex;
    justify-content: center;
    height: 767px;
    background: #282828;
    position: relative;
}
.form__img{
    top: 60px;
    left: 375px;
    position: absolute;
    width: 260px;
    height: 260px;
}
.form__title{
    position: absolute;
    top: 90px;
    left: 765px;
    padding: 50px;
    padding: 10px;
    font-family: 'Playfair Display';
    font-size: 36px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    background-color: #282828;
}
.form__img2{
    position: absolute;
    top: 64px;
    left: 1308px;
    width: 260px;
    height: 200px;
}

.form__all{
    margin-top: 129px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #c4c4c4;
    width: 1110px;
    height: 538px;
    gap: 40px;
}
.all__line{
    margin-top: 65px;
    width: 118px;
    border: 1px solid #FFFFFF;
}
.all__note{
    width: 440px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}
.form__output{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* width: 240px; */
}
.output__input{
    display: flex;
    gap: 30px;
}
.input__info{
    width: 255px;
}
input{
    padding: 10px;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #c4c4c4;
}
.all__button{
    border: 1px solid #ffffff;
    padding: 15px 209px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer{
    display: flex;
    justify-content: center;
    height: 220px;
    background: #998431;
}
.all__menu{
    display: flex;
    margin-top: 50px;
    border-top: 1px solid #FFFFFF;
    height: 60px;
}
.all__menu__item{
    padding: 19px 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}
.all__coc_net{
    display: flex;
    /* border-top: 1px solid #ffffff ; */
    /* border-bottom: 1px solid #ffffff ; */
}
.soc_net__item{
    padding: 19px 55px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    /* border-left: 1px solid #FFFFFF; */
    /* border-right: 1px solid #FFFFFF; */
}
.soc_net{
    display: flex;
    align-items: center;
    gap: 35px;
    margin-left: 40px;
    margin-right: 40px;
}
i{
    padding: 17px 0;
    color: #FFFFFF;
}
